<%- include('partials/header'); -%>
        <table>
            <tr>
                <th>KHATHA OR PROPERTY NO</th>
                <th>NAME OF THE INSTITUTION</th>
                <th>NAME OF THE KHATHADAR</th>
                <th>PID NO</th>
            </tr>
            <% data.forEach((entry)=>{ %>
                <tr>
                    <td><%=entry.khatha_or_property_no%></td>
                    <td><%=entry.name_of_institution%></td>
                    <td><%=entry.name_of_khathadar%></td>
                    <td><%=entry.pid_no%></td>
                </tr>
           <% }) %>
        </table>
        <form method="get" action="/back">
            <div class="submit-button">
                <button type="submit">Back</button>
            </div>
        </form>
<%- include('partials/footer'); -%>