<%- include('partials/header'); -%>
        <table>
            <tr>
                <th>DIVISION ID</th>
                <th>DIVISION</th>
                <th>DISTRICT</th>
                <th>TALUK</th>
                <th>CITY/VILLAGE</th>
                <th>KHATHA OR PROPERTY NO</th>
                <th>NAME OF THE INSTITUTION</th>
                <th>NAME OF THE KHATHADAR</th>
                <th>PID NO</th>
                <th>DIMENSION OF VACANT AREA (SQFT)</th>
                <th>DIMENSION OF BUILDING AREA (SQFT)</th>
                <th>TOTAL DIMENSION (SQFT)</th>
                <th>TO WHICH DEPARTMENT PAID</th>
                <th>YEAR OF PAYMENT</th>
                <th>RECEIPT NO</th>
                <th>PROPERTY TAX</th>
                <th>REBATE</th>
                <th>SERVICE TAX</th>
                <th>CESSES</th>
                <th>INTEREST</th>
                <th>PENALTY</th>
                <th>TOTAL AMOUNT</th>
                <th>REMARKS</th>
                <th colspan="3" style="text-align: center;">OPTIONS</th>
            </tr>
            <% information.forEach((entry)=>{ %>
                <tr>
                    <td><%=entry.division_id%></td>
                    <td><%=entry.division%></td>
                    <td><%=entry.district%></td>
                    <td><%=entry.taluk%></td>
                    <td><%=entry.village_or_city%></td>
                    <td><%=entry.khatha_or_property_no%></td>
                    <td><%=entry.name_of_institution%></td>
                    <td><%=entry.name_of_khathadar%></td>
                    <td><%=entry.pid_no%></td>
                    <td><%=entry.dimension_of_vacant_area_in_sqft%></td>
                    <td><%=entry.dimension_of_building_area_in_sqft%></td>
                    <td><%=entry.total_dimension_in_sqft%></td>
                    <td><%=entry.to_which_department_paid%></td>
                    <td><%=entry.year_of_payment%></td>
                    <td><%=entry.receipt_no%></td>
                    <td><%=entry.property_tax%></td>
                    <td><%=entry.rebate%></td>
                    <td><%=entry.service_tax%></td>
                    <td><%=entry.cesses%></td>
                    <td><%=entry.interest%></td>
                    <td><%=entry.penalty%></td>
                    <td><%=entry.total_amount%></td>
                    <td><%=entry.remarks%></td>
                    <td>
                            <button style="border: none;" type="submit"><a href="/image?sno=<%=entry.sno%>">View Bill</button>
                    </td>
                    <td>
                            <button style="border: none;" type="submit"><a href="/modify?division_id=<%=entry.division_id%>&khatha_num=<%=entry.khatha_or_property_no%>">Modify</button>
                    </td>
                    <td>
                            <button style="border: none;" type="submit"><a href="/delete?division_id=<%=entry.division_id%>&khatha_num=<%=entry.khatha_or_property_no%>">Delete</button>
                    </td>
                </tr>
                </tr>
           <% }) %>
        </table>
        <% if (!isAdmin) { %>
            <div class="submit-button">
                <button type="submit"><a href="/new">Add New</a></button>
            </div>
        <% } %>
        

        <div class="submit-button">
            <button type="submit"><a href="/comprehensive-report">Comprehensive Report</a></button>
        </div>

        <div class="submit-button">
            <button type="submit"><a href="/local-report">Local Report</a></button>
        </div>
<%- include('partials/footer'); -%>