<%- include('partials/header'); -%>
<div class="form-container">
    <form action="/modify" method="post">
        <div class="form-group">
            <label for="division-id">DIVISION ID : </label>
            <input id="division-id" class="gray-out" type="number" name="division-id" value="<%= retrieved_information.division_id %>" readonly>
        </div>

        <div class="form-group">
            <label for="division">DIVISION : </label>
            <input id="division" class="gray-out" type="text" name="division" value="<%= retrieved_information.division %>" readonly>
        </div>

        <div class="form-group">
            <label for="districts">DISTRICT:</label>
            <select name="district" id="districts">
                <option value="<%= retrieved_information.district %>">Previously Selected: <%= retrieved_information.district %></option>
                <option value="Bengaluru Urban">Bengaluru Urban</option>
                <option value="Bengaluru Rural">Bengaluru Rural</option>
                <option value="Mysuru">Mysuru</option>
                <option value="Mandya">Mandya</option>
                <option value="Davanagere">Davanagere</option>
                <option value="Dharwad">Dharwad</option>
                <option value="Chamarajanagara">Chamarajanagara</option>
                <option value="Hassan">Hassan</option>
                <option value="Kolar">Kolar</option>
                <option value="Ballari">Ballari</option>
                <option value="Tumkur">Tumkur</option>
            </select>
        </div>

        <div class="form-group">
            <label for="taluk">TALUK :</label>
            <input id="taluk" type="text" name="taluk" value="<%= retrieved_information.taluk %>" required>
        </div>

        <div class="form-group">
            <label for="city">VILLAGE / CITY :</label>
            <input id="city" type="text" name="city" value="<%= retrieved_information.village_or_city %>" required>
        </div>

        <div class="form-group">
            <label for="khatha-no">KHATHA OR PROPERTY NO :</label>
            <input id="khatha-no" type="number" name="khatha-no" value="<%= retrieved_information.khatha_or_property_no %>" required>
        </div> 

        <div class="form-group">
            <label for="institution-name">Name of the Institution :</label>
            <input id="institution-name" type="text" name="institution-name" value="<%= retrieved_information.name_of_institution %>">
        </div>

        <div class="form-group">
            <label for="khathadar-name">Name of the Khathadar :</label>
            <input id="khathadar-name" type="text" name="khathadar-name" value="<%= retrieved_information.name_of_khathadar %>" required>
        </div>

        <div class="form-group">
            <label for="property-id">PID No :</label>
            <input id="property-id" type="number" name="property-id" value="<%= retrieved_information.pid_no %>" required>
        </div>

        <div class="form-group">
            <label for="vacant-area">Dimension of Vacant Area (sqft) :</label>
            <input id="vacant-area" type="number" name="vacant-area" value="<%= retrieved_information.dimension_of_vacant_area_in_sqft %>" required>
        </div>

        <div class="form-group">
            <label for="building-area">Dimension of Building Area (sqft) :</label>
            <input id="building-area" type="number" name="building-area" value="<%= retrieved_information.dimension_of_building_area_in_sqft %>" required>
        </div>

        <div class="form-group">
            <label for="total-dimension">Total Dimension (sqft) :</label>
            <input id="total-dimension" type="number" name="total-dimension" value="<%= retrieved_information.total_dimension_in_sqft %>" required>
        </div>

        <div class="form-group">
            <label for="department">To Which Department Paid:</label>
            <select name="department" id="department" value="<%= retrieved_information.to_which_department_paid %>">
                <option value="BBMP">BBMP</option>
                <option value="MCC">MCC</option>
                <option value="KHB">KHB</option>
                <option value="KIADB">KIADB</option>
                <option value="Nagara-Sabha">Nagara Sabha</option>
                <option value="Grama-Panchayat">Grama Panchayat</option>
            </select>
        </div>

        <div class="form-group">
            <label for="payment-year">Year of Payment :</label>
            <input id="payment-year" type="number" name="payment-year" value="<%= retrieved_information.year_of_payment %>" required>
        </div>

        <div class="form-group">
            <label for="receipt-no">Receipt No / Challan No :</label>
            <input id="receipt-no" type="number" name="receipt-no" value="<%= retrieved_information.receipt_no %>" required>
        </div>

        <div class="form-group">
            <label for="property-tax">Property Tax :</label>
            <input id="property-tax" type="number" name="property-tax" value="<%= retrieved_information.property_tax %>" required>
        </div>

        <div class="form-group">
            <label for="rebate">Rebate :</label>
            <input id="rebate" type="number" name="rebate" value="<%= retrieved_information.rebate %>" required>
        </div>

        <div class="form-group">
            <label for="service-tax">Service Tax :</label>
            <input id="service-tax" type="number" name="service-tax" value="<%= retrieved_information.service_tax %>" required>
        </div>

        <div class="form-group">
            <label for="cesses">Cesses :</label>
            <input id="cesses" type="number" name="cesses" value="<%= retrieved_information.cesses %>" required>
        </div>

        <div class="form-group">
            <label for="interest">Interest :</label>
            <input id="interest" type="number" name="interest" value="<%= retrieved_information.interest %>" required>
        </div>

        <div class="form-group">
            <label for="penalty">Penalty :</label>
            <input id="penalty" type="number" name="penalty" value="<%= retrieved_information.penalty %>" required>
        </div>

        <div class="form-group">
            <label for="total-amount">Total Amount :</label>
            <input id="total-amount" type="number" name="total-amount" value="<%= retrieved_information.total_amount %>" required>
        </div>

        <div class="form-group">
            <label for="remarks">Remarks :</label>
            <input id="remarks" type="text" name="remarks" value="<%= retrieved_information.remarks %>" required>
        </div>

        <div class="submit-button">
            <button type="submit">Submit</button>
        </div>

        <div class="footer">
            <div class="cpy">
                <br>
                <p>&copy; All rights reserved.</p>
            </div>
        </div>
    </form>
</div>
<%- include('partials/footer'); -%>
